   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center more-half2">
           <h1 class="topcoat-navigation-bar__title tituloC">Inventar Frases - Complementos</h1>
        </div>
        <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button"  >
                <span class="topcoat-icon topcoat-icon--help" id="help"></span>
            </button>
       </div>
        <div class="topcoat-navigation-bar__item right half-quarter" >
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--home"></span>
            </a>
            
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </button>
       </div>
       <div class="topcoat-navigation-bar__item center quarter">
            <img class="logo" src="img/logoFGris.png"/>
        </div>
  </div>
  
  <div class="fraseOrden">
       <div class="fraseordenada2">
          <div class="clearfix new">
              <button class="topcoat-icon-button--quiet new-button" href="">
                    <span class="topcoat-icon topcoat-icon--new"></span>
              </button>
           </div>
           {{#.}}
            <div class="clearfix" id="fraseInv">
               <div class="sujeto">
                 {{#if arti}}
                   <img class="imgFrase3" src="{{arti}}" alt="{{arti}}" />
                 {{/if}}
                   <img class="imgFrase3" src="{{suj}}" alt="{{suj}}" /> 
              </div>
              <div class="accion2">
                   <img class="imgFrase3" src="{{accion}}" alt="{{accion}}" />
                   <p><span class="tiempoV">{{tiempoV}}</span></p>
              </div>
              <div class="comple" id="complemen">
              </div>
            </div>
           {{/.}}
       </div>
  </div>
<div class="scroller2">
  <div class="cajaInventar">
       
       <div class="listapictos">
           <div class="topcoat-list">
            <ul class="topcoat-list__container list" >
                {{#.}}
                 <li class="topcoat-list__item">
                    <div class="tipoPicto {{tipo}}" id="{{tipo}}">
                        <div class="texto"><img src="img/{{tipo}}.png" /></div>
                        {{#detalles}}
                          <div class="picto2">
                              <img class="pictoP" src="img/pictos/{{picto}}" alt="{{picto}}" />
                          </div>
                        {{/detalles}}

                       </div> 
                  </li>
                {{/.}}
          </ul>
        </div>
      </div>
    </div> 
    <footer>
      <h3>Copyright @Andrea Gutiérrez Muñoz 2015</h3>
      <h4><em>Autor pictogramas:</em> <span>Sergio Palao.</span> <em>Procedencia:</em> <span>ARASAAC http://catedu.es/arasaac/</span>  <em>Licencia:</em> <span><strong>CC (BY-NC-SA).</strong></span> </h4>
    </footer>
</div>