   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center less-half">
           <h1 class="topcoat-navigation-bar__title">Ordenar Frases</h1> 
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter" >
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--home"></span>
            </a>
            
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
    </div>
<div class="scroller">
   <div class="fraseordenada">
      {{#.}}
        <div class="clearfix">
           <img  src="img/pictos/{{p0}}.png" alt="{{p0}}" />
        </div>
      {{/.}} 
   </div>
   <div class="listapalabras">
        {{#.}}
          <div class="pictos clearfix">
              <img  src="img/pictos/{{p0}}.png" alt="{{p0}}" />
              <img  src="img/pictos/{{p1}}.png" alt="{{p1}}" />
              <img  src="img/pictos/{{p2}}.png" alt="{{p2}}" />
              <img  src="img/pictos/{{p3}}.png" alt="{{p3}}" />
              <img  src="img/pictos/{{p4}}.png" alt="{{p4}}" />
              <img  src="img/pictos/{{p5}}.png" alt="{{p5}}" />
          </div>
          <div class="texto clearfix">
            <span class="nomplato2">{{p0}}</span>
            <span class="nomplato2">{{p1}}</span>
            <span class="nomplato2">{{p2}}</span>
            <span class="nomplato2">{{p3}}</span>
            <span class="nomplato2">{{p4}}</span>
            <span class="nomplato2">{{p5}}</span>
         </div>
        {{/.}}
    </div>
    <div class="clearfix next">
        <button class="topcoat-icon-button--quiet next-button" href="">
                <span class="topcoat-icon topcoat-icon--next"></span>
            </button>
    </div>
    <footer>
      <h3>Copyright @Andrea Gutiérrez Muñoz 2015</h3>
    </footer>
</div>