   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center less-half">
           <h1 class="topcoat-navigation-bar__title">Ordenar Frases</h1> 
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter" >
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--home"></span>
            </a>
            
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
    </div>
<div class="scroller">
   <div class="fraseordenada">
      {{#.}}
        <div class="clearfix" id="fraseC">
           <img  class="imgFrase" src="img/pictos/{{p0}}.png" alt="{{p0}}" id="0"/>
           
        </div>
      {{/.}} 
   </div>
   <div class="listapalabras">
        {{#.}}
          <div class="pictos clearfix" id="pictos">
              <img class="imgFrase" src="img/pictos/{{p2}}.png" alt="{{p2}}" id="p2"/>
            {{#if p3}}
              <img class="imgFrase" src="img/pictos/{{p3}}.png" alt="{{p3}}" id="p3"/>
            {{/if}}
            
            {{#if p4}}
              <img class="imgFrase" src="img/pictos/{{p4}}.png" alt="{{p4}}" id="p4"/>
            {{/if}}
            <img class="imgFrase" src="img/pictos/{{p1}}.png" alt="{{p1}}" id="p1" />
            {{#if p5}}
              <img class="imgFrase" src="img/pictos/{{p5}}.png" alt="{{p5}}" id="p5"/>
            {{/if}}
          </div>
          <div class="texto clearfix">
            <span class="">{{p0}}</span>
            <span class="">{{p1}}</span>
            <span class="">{{p2}}</span>
            <span class="">{{p3}}</span>
            <span class="">{{p4}}</span>
            <span class="">{{p5}}</span>
         </div>
        {{/.}}
    </div>
    <div class="clearfix next">
        <button class="topcoat-icon-button--quiet next-button" href="">
                <span class="topcoat-icon topcoat-icon--next"></span>
            </button>
    </div>
    <footer>
      <h3>Copyright @Andrea Gutiérrez Muñoz 2015</h3>
      <h4>Autor pictogramas: Sergio Palao. Procedencia: ARASAAC http://catedu.es/arasaac/Licencia: CC (BY-NC-SA). </h4>
    </footer>
</div>