   <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
          {{#.}}
           <h1 class="topcoat-navigation-bar__title" id="{{nivel}}">Ordenar Frases  -  Nivel {{nivel}}</h1>
           {{/.}}
        </div>
        <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button"  >
                <span class="topcoat-icon topcoat-icon--help" id="help"></span>
            </buton>
       </div>
       <div class="topcoat-navigation-bar__item right half-quarter" >
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.go(-2);">
                <span class="topcoat-icon topcoat-icon--home"></span>
            </a>
            
        </div>
       <div class="topcoat-navigation-bar__item right half-quarter">
           <button class="topcoat-icon-button--quiet back-button salir"  >
                <span class="topcoat-icon topcoat-icon--exit"></span>
            </buton>
       </div>
       <div class="topcoat-navigation-bar__item center quarter">
            <img class="logo" src="img/logoFGris.png"/>
        </div>
  </div>
<div class="scroller">
  {{#.}}
   <div class="nivel{{nivel}}" id="cajaNivel">
       <div class="fraseordenada">
          {{#.}}
            <div class="clearfix" id="fraseC">
               <img  class="imgFrase2" src="img/frases/{{p0}}.png" alt="{{p0}}" id="0"/>
            </div>
          {{/.}} 
       </div>
       <div class="listapalabras">
            {{#.}}
              <div class="pictos clearfix" id="pictos">
                    <img class="imgFrase" src="img/frases/{{p2}}.png" alt="{{p2}}" id="p2"/>
                    {{#if p5}}
                        <img class="imgFrase" src="img/frases/{{p5}}.png" alt="{{p5}}" id="p5"/>
                    {{/if}}
                    {{#if p4}}
                        <img class="imgFrase" src="img/frases/{{p4}}.png" alt="{{p4}}" id="p4"/>
                    {{/if}}
                    {{#if p3}}
                        <img class="imgFrase" src="img/frases/{{p3}}.png" alt="{{p3}}" id="p3"/>
                    {{/if}}
                    <img class="imgFrase" src="img/frases/{{p1}}.png" alt="{{p1}}" id="p1" />
              </div>
            {{/.}}
        </div>
        
    </div>
    <div class="clearfix next nivel{{nivel}}">
        <button class="topcoat-icon-button--quiet next-button" href="">
                <span class="topcoat-icon topcoat-icon--next"></span>
            </button>
    </div>
    {{/.}}
    <footer>
      <h3>Copyright @Andrea Gutiérrez Muñoz 2015</h3>
      <h4><em>Autor pictogramas:</em> <span>Sergio Palao.</span> <em>Procedencia:</em> <span>ARASAAC http://catedu.es/arasaac/</span>  <em>Licencia:</em> <span><strong>CC (BY-NC-SA).</strong></span> </h4>
    </footer>
</div>